body {
  background: radial-gradient(#59daae, #faf0e6);
}

.header {
  background-color: #e8e8f8;
}

.scrollbar {
    margin-left: 5px;
    margin-right: 10px;
    float: left;
    background: #FFFFFF;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.scrollbar-primary::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 0;
  }
  
  .scrollbar-primary::-webkit-scrollbar {
    width: 10px;
    background-color: #FFFFFF;
  }
  
  .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: -25px 0px 41px 7px rgba(0, 158, 158, 1);
    background-color: #009e9e;
  }
  
  .scrollbar-primary {
    scrollbar-color: #FFFFFF #FFFFFF;
  }

.scrollbar2 {
    margin-right: 2px;
    float: left;
    background: #fff5ee;
    overflow-y: scroll;
    margin-bottom: 25px;
}


.scrollbar-success::-webkit-scrollbar-track {
    background-color: #fff5ee;
    border-radius: 10px;
    border: 0;
  }
  
  .scrollbar-success::-webkit-scrollbar {
    width: 8px;
    background-color: #fff5ee;
  }
  
  .scrollbar-success::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #00bdbd;
  }
  
  .scrollbar-success {
    scrollbar-color: #fff5ee #fff5ee;
  }

.h-90 {
  height: 90%;
}

.green-light {
  background-color: #4fb190;
}


.btn-success {
  border-color: #59daae;
  background-color: #59daae;
  color: white;
}

.btn-success:hover,

.btn-success:focus,

.btn-success:visited{
  border-color: #4fb190;
  background-color: #4fb190;
  color: white;
}

.btn-outline-success {
  border-color: #59daae;
  color: #4fb190;
}

.btn-outline-success:hover,

.btn-outline-success:focus,

.btn-outline-success:visited{
  border-color: #4fb190;
  background-color: #4fb190;
  color: white;
}

.text-success {
  color: #59daae !important;
}

.border-success {
  border-color: #59daae !important;
}

.link-success {
  color: #59daae;
}

.bg-primary {
  background-color:#00bdbd !important;
}

.bg-light {
  background-color: #fff5ee !important;
}

.popup-arrow {
  display: none;
}

footer {
  background-color: #f8f0e8;
}


.form-control:focus,
.form-control:active {
  box-shadow: 0 0 5px 5px #59daae;
}

