.scrollbar {
    margin-left: 5px;
    margin-right: 10px;
    float: left;
    background: #FFFFFF;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.scrollbar-info::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border: 0;
  }
  
  .scrollbar-info::-webkit-scrollbar {
    width: 10px;
    background-color: #FFFFFF;
  }
  
  .scrollbar-info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0dcaf0;
  }
  
  .scrollbar-info {
    scrollbar-color: #0dcaf0 #FFFFFF;
  }

.scrollbar2 {
    margin-right: 2px;
    float: left;
    background: #f8f9fa;
    overflow-y: scroll;
    margin-bottom: 25px;
}


.scrollbar-channel::-webkit-scrollbar-track {
    background-color: #f8f9fa;
    border: 0;
  }
  
  .scrollbar-channel::-webkit-scrollbar {
    width: 8px;
    background-color: #f8f9fa;
  }
  
  .scrollbar-channel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0dcaf0;
  }
  
  .scrollbar-channel {
    scrollbar-color: #0dcaf0 #f8f9fa;
  }

.h-90 {
  height: 90%;
}